@import 'core/variables';

* {
box-sizing: border-box;
border: 1px solid red;
}

body {
margin: 0;
width: 100%;
}

.hero {
background-image: url(../images/cover.jpg);
}

.botonfijo {
width: 44px;
height: 44px;
background-color: $color-midtone;
position: fixed;
// background-image: url(../images/ico-menu.svg);
}
