/*Colores*/
$color-primary: #f26002;
$color-secondary: #ffffff;
$color-light: #8ccbea;
$color-midtone: #0271bc;
$color-dark: #304268;
/*Tipografia*/
$fontfamily-primary: 'Roboto Slab', serif;
$font-family-secondary: 'Roboto', sans-serif;
