.footer{
  height: 128px;
  background-color: $color-dark;
}

.pfooter {
  margin: 0;
  font-family: $font-family-secondary;
  color: $color-secondary;
  font-size: 14px;
}

.corazon{
  color: $color-primary;
}

.pie {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
