.footer{
  height: 128px;
  background-color: $color-dark;
}

.pfooter {
  margin: 0;
}

.corazon{
  color: $color-primary;
}

.pie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
