.hero {
  height: 100vh;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: top;

}

.contenidohero {
  text-align: center;
  transform: translateY(50vh);
  color: $color-secondary;
}

.titulohero {
  margin: 0 auto;;
  width: 290px;
  font-family: $fontfamily-primary;
  font-size: 42px;
  font-weight: 700;
  @media all and (min-width:768px) {
    width: 690px;
    font-size: 80px;
  }
  @media all and (min-width:1200px) {
    width: 730px;
    font-size: 100px;
  }
}

.textohero{
  margin: 0;
  margin-top: 10px;
  margin-bottom: 45px;
  font-family: $font-family-secondary;
  font-size: 16px;
  @media all and (min-width:768px) {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 24px;
  }
  @media all and (min-width:1200px) {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
