.botonfijo {
  width: 44px;
  height: 44px;
  background-color: $color-midtone;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnnav {
  margin: 0 auto;
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-primary;
  background-color: $color-secondary;
}

.botonsubir{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  position: relative;
  transform: translateY(-22.5px);
}

.btndefault {
  height: 45px;
  border-radius: 22.5px;
  border: 2px solid $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botongo {
  width: 76px;
  margin-top: 15px;
  margin-bottom: 45px;
  transition: background-color ease 0.9s, border ease 0.9s;
  @media all and (min-width:768px) {
    width: 91px;
    margin-bottom: 60px;
  }
  @media all and (min-width:1280px) {
    width: 160px;
  }

  &:hover {
    background-color: green;
    border: 3px solid darkgreen;
  }
}

.textbtngo {
  padding: 15px 40px;
  color: $color-primary;
  transition: color ease 0.9s;
  &:hover {
    color: $color-black;
  }
}

.botonrazones {
  margin: 0 auto;
  width: 184px;
  color: $color-secondary;
  background-color: $color-primary;
  transition: background-color ease 0.9s, border ease 0.9s;
  @media all and (min-width:768px) {
    width: 210px;
  }
  @media all and (min-width:1280px) {
    width: 255px;
  }
  &:hover {
    background-color: green;
    border: 3px solid darkgreen;
  }
}

.textbtnrazones {
  padding: 15px 10px;
  color: $color-secondary;
  transition: color ease 0.9s;
  &:hover {
    color: $color-black;
  }
}
