/*Colores*//*Tipografia*//* Main*//*header*/.contenidohero {
  color: #ffffff;
}

.titulohero {
  font-family: "Roboto Slab", serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 55px;
}

.textohero {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}/*Parte 1*/.tips {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #8ccbea;
}

.titulo {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: black;
}

.parrafparte1 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #4a4a4a;
}/*Seccion Rejilla*/.titulorejilla {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: black;
}

.titulito {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: black;
}

.parrafparte2 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  color: black;
}

.botonfijo {
  width: 44px;
  height: 44px;
  background-color: #0271bc;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.btnnav {
  margin: 0 auto;
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #f26002;
  background-color: #ffffff;
}

.botonsubir {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  position: relative;
  -webkit-transform: translateY(-22.5px);
  transform: translateY(-22.5px);
}

.btndefault {
  height: 45px;
  border-radius: 22.5px;
  border: 2px solid #f26002;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.botongo {
  width: 76px;
  margin-top: 15px;
  margin-bottom: 45px;
  -webkit-transition: background-color ease 0.9s, border ease 0.9s;
  transition: background-color ease 0.9s, border ease 0.9s;
}

.botongo:hover {
  background-color: green;
  border: 3px solid darkgreen;
}

.textbtngo {
  color: #f26002;
  -webkit-transition: color ease 0.9s;
  transition: color ease 0.9s;
}

.textbtngo:hover {
  color: black;
}

.botonrazones {
  margin: 0 auto;
  margin-bottom: 60px;
  width: 184px;
  color: #ffffff;
  background-color: #f26002;
  -webkit-transition: background-color ease 0.9s, border ease 0.9s;
  transition: background-color ease 0.9s, border ease 0.9s;
}

.botonrazones:hover {
  background-color: green;
  border: 3px solid darkgreen;
}

.textbtnrazones {
  color: #ffffff;
  -webkit-transition: color ease 0.9s;
  transition: color ease 0.9s;
}

.textbtnrazones:hover {
  color: black;
}

.hero {
  height: 100vh;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.contenidohero {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 53px;
  text-align: center;
}

.titulohero {
  margin: 0 auto;
}

.textohero {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 45px;
}

.rejilla {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 45px;
}

.celda1 {
  grid-row-start: 1;
  grid-row-end: 2;
}

.celda2 {
  grid-row-start: 2;
  grid-row-end: 3;
}

.celda3 {
  grid-row-start: 3;
  grid-row-end: 4;
}

.footer {
  background-color: #304268;
}

.pfooter {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 14px;
}

.corazon {
  color: #f26002;
}

.pie {
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid red;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  width: 100%;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.parte1 {
  text-align: left;
}

.tips {
  padding-top: 30px;
}

.parrafparte1 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.seccionrejilla {
  padding-top: 30px;
  padding-bottom: 60px;
  text-align: center;
  background-color: #eff9ff;
}

.rejilla {
  margin-top: 45px;
  margin-bottom: 45px;
  margin-left: 55px;
  margin-right: 55px;
}

@media all and (min-width: 768px) {
  .titulohero {
    font-size: 80px;
    line-height: 106px;
  }

  .textohero {
    font-size: 24px;
  }

  .titulo {
    font-size: 26px;
    line-height: 45px;
  }

  .parrafparte1 {
    font-size: 20px;
  }

  .titulorejilla {
    font-size: 26px;
    line-height: 45px;
  }

  .titulito {
    font-size: 24px;
  }

  .parrafparte2 {
    font-size: 20px;
  }

  .botongo {
    width: 91px;
    margin-bottom: 60px;
  }

  .botonrazones {
    width: 210px;
  }

  .contenidohero {
    margin-bottom: 45px;
  }

  .titulohero {
    width: 690px;
  }

  .textohero {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .rejilla {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0 0;
    grid-column-gap: 27.7px;
    grid-row-gap: 0;
  }

  .celda1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .celda2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .celda3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .container {
    padding-left: 39px;
    padding-right: 39px;
  }

  .parrafparte1 {
    padding-top: 30px;
  }

  .rejilla {
    margin-bottom: 60px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media all and (min-width: 1200px) {
  .container {
    width: 730px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}

@media all and (min-width: 1280px) {
  .titulohero {
    font-size: 100px;
    line-height: 132px;
  }

  .tips {
    font-size: 16px;
  }

  .titulo {
    font-size: 32px;
  }

  .titulorejilla {
    font-size: 32px;
  }

  .botongo {
    width: 160px;
  }

  .botonrazones {
    width: 255px;
  }

  .contenidohero {
    margin-bottom: 13px;
  }

  .titulohero {
    width: 730px;
  }

  .textohero {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .rejilla {
    grid-column-gap: 26.2px;
  }

  .tips {
    padding-top: 60px;
  }

  .seccionrejilla {
    padding-top: 60px;
  }

  .gridcontainer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

/*# sourceMappingURL=main.css.map */
